<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rainbow.mapper.SeckillMapper" >
    <!--新增库存-->
    <insert id="insert" parameterType="seckill">

            insert into items (id, name, price,
            pic, createtime, detail
            )
            values (#{id}, #{name}, #{price},
            #{pic}, #{createtime}, #{detail}
            )
    </insert>

    <!--更新库存-->
    <update id="reduceNumber">
        UPDATE seckill
        set
        number=number-1
        where seckill_id=#{seckillId}
    </update>
<select id="queryById" resultType="com.rainbow.entity.Seckill">

</select>
    <select id="queryAll" resultType="com.rainbow.entity.Seckill"></select>
</mapper>